<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/js-api-loader@^1.2.0/dist/index.min.js"></script>
    <link rel="icon" href="../static/image/favicon.ico" />
    <link rel="stylesheet" href="../static/css/normalize.css" />

    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="page-header">
        <nav>
          <img
            id="logo"
            src="../static/image/detective-1424831_640.png"
            alt=""
            class="spinner_slow"
          />
          <h1 class="page-header-title">GrandPy</h1>
          <p>
            Coucou mon petit, tu savais que je connais la plupart des lieux de
            France ? <br />
            Si si demande moi un endroit.
          </p>
        </nav>
      </header>
      <main class="page-main">
        <div>
          <div id="dialogue_zone">
            <div class="bot_bubble">
              <p>
                Aller aller une petite question ? non ? Ah maintenant que j'y
                pense, je suis plus tout jeune alors evite les erreurs
                d'orthographes.
              </p>
            </div>
          </div>
          <form id="text_zone">
            <label for="#my_text"
              ><img
                src="../static/image/create-outline.svg"
                alt="un triangle aux trois côtés égaux"
                height="30px"
                width="30px"
                class="spinner"
            /></label>

            <div>
              <input
                type="text"
                class="input_text_zone"
                id="my_text"
                placeholder="où est la tour eiffel ?"
                autofocus
                required
              />
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </main>
      <footer class="page-footer">
        <small>© Copyright 2021. All rights reserved.</small>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/thomas-buglioni-61670b208"
              target="_blank"
            >
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
          <li>
            <a href="https://github.com/tbuglioni" target="_blank">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
